*{
    box-sizing: border-box;
}
.wrapper{
    width: 90%;
    /* max-width: 1000px; */
    margin: auto;
    margin-top: 0px;
    overflow: hidden;
    height: 900px;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between; 
}
.wrapper p{
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin: 20px;
    padding: 20px;
    width: auto;
}
.logo{
    /* height: 100%; */
    display: flex;
    justify-content: center;
    /* align-items: center; */

    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
    font-size: 48px;
    background: linear-gradient(to right, #ff0099, #0004f0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}


.main-index{
    background: linear-gradient(to right, #ff0099, #0004f0);
    color: #fff;
    text-align: center;
    padding: 50px;
    margin-top: 0;
    font-size: xx-large;
    text-transform: capitalize;
    box-sizing: 600px;
    
}



/*//////////////////////// Terina la parte de Servicios ///////////////////////////*/
.main-somos{
    padding: 50px;
    margin-top: 0;
    font-size: large;
    box-sizing: 600px;
    background: #212025;
}
.main-somos h2{
    margin-top: 100px;
    margin-bottom: 50px;
    color: #ffffff;
}
.main-somos h3{
    color: #ffffff;
}
.main-somos p{
    margin-top: 50px;
    margin-bottom: 10px;
    color: #ffffff;
}



.main-contacto{
    background: #212025;
    text-align: center;
    padding: 50px;
    margin-top: 0;
    font-size: large;
    text-transform: capitalize;
    box-sizing: 600px;
    
}
.main-contacto h2{
    margin-top: 100px;
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
}
.main-contacto form{
    margin-top: 100px;
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
}

/* .boton{
    background-color: #ff0099;
}
.boton:hover{
    background-color: #0004f0;
} */

.main-index .titulo-grafico{
    margin: 50px;
    margin-top: 100px;
}  
.main-index .titulo-web{
    margin: 50px;
} 
.main-index .titulo-marca{
    margin: 50px;
}  
.main-index .titulo-redes{
    margin: 50px;
} 
.main-index .titulo-grafico:hover{
    text-transform: uppercase;
}
.main-index .titulo-web:hover{
    text-transform: uppercase;
}
.main-index .titulo-marca:hover{
    text-transform: uppercase;
}
.main-index .titulo-redes:hover{
    text-transform: uppercase;
}


body{
    background: #ffffff;
}
/*
header{
    width: 100%;
    height: 100px;
    overflow: hidden;
    background:#ffffff;
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    z-index: 100;
}*/
.footer-color{
    background-color: #1c2331;
    /* background-color: #98de00; */
 
    margin: 0px;
    
}


/*
.menuResponsive{
    display: none;
}

header .logo{
line-height: 100px;
float: left;

}
*/
footer .logo{
    color:#c63434;
    font-size: 40px;
    line-height: 280px;
    float: left;
    }

    
.notas{
    width: 100%;
    height: auto;
    border-radius: 30px;
    background:#ff0099;
    /* background:#00ff15; */
    color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border-color: #0004f0;
    /* border-bottom-color: #c63434; */
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 20px;

}



ul{
    list-style: none;
}

.footer{
    width: 100%;
 
}
    
.foot-a{
    border-radius: 30px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
    margin: 20px;
}
.foot-a h2{
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}

.foot-b{
    text-align: left;
    height: 90%;
    padding: 2em;
    justify-content: space-between;
    margin: 10px;
}
.foot-c{
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: space-between;
    padding: 0;
    margin-top: 10px;
    
    font-size: 45px;
    
}
.foot-c a{
    color: #fff;
    font-size: 25px;
    margin: 0;
    padding: 0;
}



.imagenes{
    width: 50vw;
    height: auto;

}

/* Pagina Clientes */
.main-clientes {
    /* background: linear-gradient(to right, #ff0099, #0004f0); */
    background: #212025;
    color: #fff;
    text-align: center;
    padding: 50px;
    margin-top: 0;
    font-size: xx-large;
    text-transform: capitalize;
    box-sizing: 600px;
}

.clientes {
	width: 100%;
	max-width: 1200px;
    margin: auto; 
	padding: 15px;
    margin-top: 100px;

    /* grid */
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.clientes-campanias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
}
.card-clientes {
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;

	
}
.card-clientes .textos {
	height: 100%; 
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.coca{background-image: url('../Img/1-m.jpg')}
.quilmes{background-image: url('../Img/2-m.jpg')}
.toyota{background-image: url('../Img/3-m.jpg')}
.ford{background-image: url('../Img/4-m.jpg')}
.arcor{background-image: url('../Img/5-m.jpg')}
.bimbo{background-image: url('../Img/6-m.jpg')}
.cosquin{background-image: url('../Img/7-m.jpg')}



